.contextMenu {
    position: absolute;
    display: none;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    border: 1px solid black;
    z-index: 3;
}

.contextMenuButton {
    margin: 0;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    padding: .2em 2em;
    border-radius: 0;
}

.contextMenuButton:last-child {
    border-bottom: none;
}