* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.center-all {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-h {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.center-v {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.margin-auto {
    margin: 0 auto;
}

.button {
    border-radius: 4px;
    padding: 4px;
}

.button:focus {
    outline: none;
}

.textbox {
    width: 100%;
    border-radius: 4px;
    text-align: center;
    font-size: 1.5em;
    height: fit-content;
    padding: .2em;
    transform: translateX(-.3em);
}

input {
    border-color: blue;
    color: blue;
}

input:focus {
    outline: none;
}

input:focus:not(.worng) {
    box-shadow: 0 0 3pt 1px blue;
}

label {
    height: 30px;
}

.no-format {
    list-style: none;
}

.selectable {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

table,
td {
    border: 1px solid white;
    margin: 0;
    padding: 0;
}