.hostGameElementsDiv {
    display: flex;
    flex-direction: column;
}

.hostDropDown {
    display: flex;
    flex-direction: column;
}

.hostDropDown select {
    border: blue 1px solid;
    border-radius: 5px;
    font-size: 1.5em;
    height: fit-content;
    padding: .2em;
    text-align: center;
    color: blue;
}

.hostDropDown select:focus {
    outline: none;
}

.diffSelection {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    min-width: 0;
}

.diffSelected {
    border: 3px solid blue;
}

.hostButtons {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-top: 1em;
}

.hostButtons button {
    margin: 0;
    padding: .5em;
}