#in-game-elements {
    display: grid;
    grid-template-rows: 2fr 4fr;
    color: white;
    height: 100%;
    width: 40%;
}

#in-game-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-top: auto;
}

#time-remaining {
    font-size: 2em;
    width: fit-content;
    border-radius: 5px 0;
    background-color: rgba(80, 205, 250, .8);
}

#word-display {
    font-size: 2em;
    width: fit-content;
    border-radius: 5px 0;
    background-color: rgba(80, 205, 250, .8);
}

#word-input {
    padding: .5em;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
}

#submit-word {
    padding: .5em 1em;
}

#in-game-message {
    color: red;
    background-color: rgba(80, 205, 250, .8);
    border-radius: 3px;
}

#current-words {
    padding: .2em;
    border-radius: 5px;
    display: flex;
    gap: .5em;
    font-size: 1.5em;
    justify-content: center;
    width: 100%;
    background-color: rgba(80, 205, 250, .8);
}

input.wrong {
    box-shadow: 0 0 3pt 1px red;
    animation: wiggle 100ms linear 0s 2;
}

@keyframes wiggle {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(.2em);
    }
    75% {
        transform: translateX(-.2em);
    }
    100% {
        transform: translateX(0);
    }
}

#current-words .column {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-gap: .5em;
    width: 10em;
    text-align: center;
}