.menuElementsDiv {
    width: 30%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 2fr 1fr 3fr;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .3em;
    background-color: rgba(80, 205, 250, .8);
    border-radius: 1em;
    height: fit-content;
    margin: auto 0;
}

.title h1 {
    font-size: 5em;
    color: white;
}

.title h1.wordsTitle {
    margin-right: auto;
}

.title h1.treasureTitle {
    margin-left: auto;
}

.mainMenuButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menuBtn {
    display: block;
    width: 100%;
    line-height: 100%;
    height: auto;
    font-size: 1.8em;
    padding: 10px 0;
    margin: .5em 0;
}

.howToPlay {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(80, 205, 250, .8);
    border: white 1px solid;
    padding: .5em;
    border-radius: 1em;
    height: fit-content;
}

.howToPlay h2 {
    width: fit-content;
    margin: 0 auto;
    letter-spacing: 2px;
    font-size: 2em;
}

.howToPlay p {
    font-size: 1.08em;
    font-weight: 300;
    text-align: left;
}

.howToPlay h3 {
    margin-top: .5em;
    align-self: center;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.5em;
}

@media only screen and (max-width: 1300px) {
    .menuElementsDiv {
        width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    .menuElementsDiv {
        width: 100%;
    }
    .howToPlay p {
        font-size: 1.3em;
    }
}