#score-window-elements {
    display: flex;
    flex-direction: column;
    color: white;
}

#score-window-elements h2 {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    padding: .5em;
    border-radius: 5px;
    background-color: rgba(80, 205, 250, .8);
}

#score-table {
    text-align: center;
    width: 100%;
    background-color: rgba(80, 205, 250, .8);
    border-collapse: collapse;
}

#score-table thead {
    font-size: 1.125em;
    width: calc( 100% - 1em);
    border-bottom: 4px white solid;
}

#score-table tbody {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 60vh;
}

#score-table thead,
#score-table tbody tr {
    display: table;
    table-layout: fixed;
}

#score-table tbody tr {
    width: 100%;
}

#score-table td {
    font-weight: 400;
    font-size: 1.875em;
    padding: .4em;
}

#score-table tbody tr:first-child {
    color: #ffbb31;
}

#score-table tbody tr:nth-child(2) {
    color: #a8a8a8;
}

#score-table tbody tr:nth-child(3) {
    color: #ad4e1a;
}

#score-screen-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#score-screen-buttons button {
    width: fit-content;
    padding: .5em 1em;
}