.scoreWindowElements {
    display: flex;
    flex-direction: column;
    color: white;
}

.scoreWindowElements h2 {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    padding: .5em;
    border-radius: 5px;
    background-color: rgba(80, 205, 250, .8);
}

.scoreTable {
    text-align: center;
    width: 100%;
    background-color: rgba(80, 205, 250, .8);
}

.scoreTable thead {
    font-size: 1.125em;
    margin: 0;
}

.scoreTable tbody {
    margin: 0;
}

.scoreTable td {
    font-weight: 400;
    font-size: 1.875em;
    padding: .4em;
}

.scoreTable tbody tr:first-child td:nth-child(2) {
    color: #ffbb31;
}

.scoreTable tbody tr:nth-child(2) td:nth-child(2) {
    color: #a8a8a8;
}

.scoreTable tbody tr:nth-child(3) td:nth-child(2) {
    color: #ad4e1a;
}

.scoreWindowElements button {
    width: fit-content;
    padding: .5em 1em;
}

.scoreScreenButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}