html,
body {
    width: 100%;
    height: 100%;
}

.window {
    width: 100%;
    height: 100%;
}

.menuButtonsDiv {
    width: 30%;
    margin: 0 auto;
}

.menuBtn {
    display: block;
    width: 100%;
    min-height: 20px;
    max-height: 100px;
    line-height: 100%;
    height: auto;
    margin: 10px 0;
    font-size: 2vw;
    padding: 10px 0;
}

.hostGameElementsDiv {
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: 10px;
}

h3 {
    height: fit-content;
    align-self: end;
    text-decoration: underline 2px;
}

.hostGameElementsDiv select {
    border: black 1px solid;
    border-radius: 5px;
}

.diffSelection {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    min-width: 0;
}

.diffSelected {
    border: 3px solid black;
}

.nameTextbox {
    width: 100%;
    padding: 5px;
    border: red 1px solid;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    transform: translateX(-5px);
}

.nameTextbox:focus {
    outline: none;
}

.nameTextbox:not(.textboxError) {
    border-color: black;
}

.hostMessage {
    width: fit-content;
    word-wrap: break-word;
    color: red;
    min-width: 0;
    text-align: center;
}

.joinGameElementsDiv {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: 1fr;
}

.message {
    color: red;
}

.waitingRoom {
    text-align: center;
}

.playersTitle {
    margin: 0 0 10px 0;
    text-align: center;
}

.players {
    text-align: center;
    margin: 10px 0 20px 0;
}

.players li {
    margin: 5px 0;
}

.code {
    margin: 10px;
    text-align: center;
}