@font-face {
    font-family: heading;
    src: url(/headingFont.ttf);
}

* {
    font-family: Comic Sans MS, Comic Sans, cursive;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.window {
    width: 100%;
    height: 100%;
}

button {
    background-color: #3E9DD1;
    border-color: blue;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    border-radius: .2em;
    margin: .5em 0;
}

button:disabled {
    background-color: rgba(62, 157, 209, .5);
    border-color: rgba(0, 0, 255, .5);
    color: rgba(255, 255, 255, .5);
    cursor: default;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: #54A5D3;
}

button:focus {
    outline: none;
    border-color: blue;
}

.disconnectButton {
    margin: 1em;
    padding: .3em 1em;
}

.background {
    width: 100%;
    height: 100%;
    z-index: -1;
    margin: 0;
    position: absolute;
    background-color: #50cdfa;
}

.letter {
    width: fit-content;
    position: absolute;
    font-weight: 800;
}

.alert {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.alertCard {
    width: 25%;
    height: auto;
    border: solid white 2px;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: #50cdfa;
}

.alertCloseButton {
    background-color: transparent;
    border: none;
    padding: .2em .4em;
    margin: 0 0 0 auto;
}

.alertText {
    color: white;
    text-align: center;
    font-size: 1.2em;
}

.alertButton {
    padding: .5em 1em;
}

.menuElementsDiv {
    width: 30%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 2fr 1fr 3fr;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .3em;
    background-color: rgba(80, 205, 250, .8);
    border-radius: 1em;
    height: fit-content;
    margin: auto 0;
}

.title h1 {
    font-size: 5em;
    color: white;
}

.title h1.wordsTitle {
    margin-right: auto;
}

.title h1.treasureTitle {
    margin-left: auto;
}

.mainMenuButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menuBtn {
    display: block;
    width: 100%;
    line-height: 100%;
    height: auto;
    font-size: 2vw;
    padding: 10px 0;
    margin: .5em 0;
}

.howToPlay {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(80, 205, 250, .8);
    border: white 1px solid;
    padding: .5em;
    border-radius: 1em;
    height: fit-content;
}

.howToPlay h2 {
    width: fit-content;
    margin: 0 auto;
    letter-spacing: 2px;
    font-size: 2em;
}

.howToPlay p {
    font-size: 1.08em;
    font-weight: 300;
    text-align: left;
}

.howToPlay h3 {
    margin-top: .5em;
    align-self: center;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.5em;
}

.hostGameElementsDiv {
    display: flex;
    flex-direction: column;
}

h3 {
    height: fit-content;
    align-self: end;
    color: white;
    font-size: 1.8em;
    font-weight: 800;
    background-color: rgba(80, 205, 250, .8);
    border-radius: .5em;
    width: fit-content;
    padding: .3em;
}

.hostDropDown {
    display: flex;
    flex-direction: column;
}

.hostDropDown select {
    border: blue 1px solid;
    border-radius: 5px;
    font-size: 1.5em;
    height: fit-content;
    padding: .2em;
    text-align: center;
    color: blue;
}

.hostDropDown select:focus {
    outline: none;
}

.diffSelection {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    min-width: 0;
}

.diffSelected {
    border: 3px solid blue;
}

.hostButtons {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-top: 1em;
}

.hostButtons button {
    margin: 0;
    padding: .5em;
}

.nameTextbox:focus {
    outline: none;
}

.nameTextbox:not(.textboxError) {
    border-color: black;
}

.joinGameElementsDiv {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.joinGameElementsDiv input {
    padding: .5em;
    transform: translateX(-.6em);
}

.joinButtons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.joinButtons button {
    margin: 0;
    padding: .5em 0;
}

.message {
    color: red;
    height: fit-content;
    font-size: 1.2em;
    width: 100%;
    text-align: center;
}

.waitingRoom {
    color: white;
}

.waitingRoomElements {
    display: flex;
    flex-direction: column;
    /*gap: .5em;*/
    width: 30%;
}

.playersTitle {
    height: fit-content;
    font-size: 2.5em;
    background-color: rgba(80, 205, 250, .8);
    border-radius: .5em .5em 0 0;
    padding: .3em;
}

.playersNumber {
    font-size: 1.5em;
    background-color: rgba(80, 205, 250, .8);
    border-radius: 0 0 .5em .5em;
    padding: .3em 1em;
    width: fit-content;
    margin: 0 auto;
}

.players {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*background-color: rgba(80, 205, 250, .8);*/
    background-color: rgba(80, 205, 250, .8);
    border-radius: .5em;
    padding: .3em;
}

.players div {
    font-size: 1.2em;
}

.players div:not(.hostPlayerNameLi) {
    margin: .65em 0;
}

.players div img {
    transform: translate(-.3em, -.5em) rotateZ(45deg);
    width: 1.6em;
    font-size: 1em;
}

.hostPlayerNameLi {
    margin: 0 0 .5em 1.3em;
}

.code {
    margin: 10px;
    text-align: center;
    height: fit-content;
}

.startGameBtn {
    padding: .5em 1em;
    visibility: hidden;
}

.startGameBtn:disabled:hover {
    cursor: default;
}

.toolTip {
    visibility: hidden;
    width: fit-content;
    background-color: #50cdfa;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    border: #fff 2px solid;
    padding: .2em;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -3em);
    opacity: 0;
    transition: opacity 0.2s;
}

.toolTip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -.5em;
    border-width: .5em;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.startGameBtn:hover:disabled .toolTip {
    visibility: visible;
    opacity: 1;
}

.gameCode {
    width: fit-content;
    margin: .5em auto;
}

.gameCodeInputContainer {
    position: relative;
    float: left;
}

.gameCodeInputContainer:hover .gameCodeInput {
    color: blue;
}

.gameCodeInputContainer:hover .gameCodeOverlay {
    visibility: hidden;
}

.gameCodeInput {
    font-size: 1.2em;
    text-align: center;
    color: transparent;
    border-radius: .2em 0 0 .2em;
}

.gameCodeOverlay {
    position: absolute;
    z-index: 1;
    color: blue;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}

.gameCodeInput:focus {
    box-shadow: none;
}

.gameCodeOverlay {
    display: inline-block;
}

.gameCodeCopyButton {
    border-left: none;
    border-radius: 0 .2em .2em 0;
    margin: 0;
    float: left;
    padding: 0 .3em;
}

.inGameElements {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timeRemaining {
    font-size: 2em;
    width: fit-content;
}

.wordDisplay {
    font-size: 2em;
    width: fit-content;
}

.wordInput {
    border-color: 1px black solid;
    border-radius: 5px;
    padding: 1em;
    line-height: 1.2em;
}

.submitWord {
    padding: 1em;
}

.currentWords {
    padding: 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    font-size: 1.5em;
    text-align: center;
}

.scoreWindowElements {
    display: flex;
    flex-direction: column;
}

.scoreWindowElements h2 {
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 2em;
}

.scoreTable {
    text-align: center;
    width: 100%;
    border: 1px solid black;
    margin-block-end: .5em;
    margin-block-start: .5em;
}

.scoreTable thead {
    font-size: 1.125em;
    margin: 0;
}

.scoreTable tbody {
    margin: 0;
}

.scoreTable td {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    font-weight: 400;
    font-size: 1.875em;
    padding: .4em;
    border: 1px solid black;
}

.scoreTable tbody tr:first-child td:nth-child(2) {
    color: #ffbb31;
}

.scoreTable tbody tr:nth-child(2) td:nth-child(2) {
    color: #a8a8a8;
}

.scoreTable tbody tr:nth-child(3) td:nth-child(2) {
    color: #ad4e1a;
}

.mainMenuBtn {
    padding: .5em;
    margin: 0;
}